/* ici on commences par impoter les styles d'Openlayer */
@import "node_modules/ol/ol.css";


/* ==================================================== */
/* =================== Style de la page =============== */
/* ==================================================== */
html, body {
  margin: 0;
  height: 100%;
  background-color: rgb(66, 66, 66);

}

body{
  justify-content: center;
  align-items: center;
  text-align: center;
}

#container {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#map {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-sizing: 5px;
  z-index: 0;
}

.theme-color {
  background-color: rgb(68, 120, 124);
  color: #fff;
}

.theme-color2 {
  background-color: rgba(68, 120, 124, 0.123);
  border-radius: 5px;
  padding: 5px;
}

.theme-layer {
  background-color: rgb(245, 245, 245);
}

.h2 {
  margin: 0;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}


button {
  cursor: pointer;
  box-shadow: none;
  background: none; /* Enlever le fond par défaut */
  border: none; /* Enlever la bordure par défaut */
  padding: 0; /* Enlever le padding par défaut */
  margin: 0; /* Enlever la marge par défaut */
  font: inherit; /* Hériter de la police parente */
  color: inherit; /* Hériter de la couleur parente */
}

button:hover {
  background-color: lightgray; /* Colorier en gris clair au survol */
}


#overlay{
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}


#panel-overlay {
  height: 100%;
  display: flex;
  justify-content: space-between;

}


/* ==================================================== */
/* ========= Style de la l'entet de la page =========== */
/* ==================================================== */

#head-app {
  top: 0;
  height: 6vh;
  width: 100%;
  z-index: 1;
  margin: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 10px;
}

#title-app {
  text-align: left;
}

#logo-app {

  width: 40px;
  height: 40px;
}

#logo-app img {
  width: 100%;
  height: 100%;
}


/* ============================================================== */
/* ========= Style de l'obglet gestion des couches ' =========== */
/* ============================================================== */

#layer-panel {
  position: relative;
  height: 85%;
  width: 25vh;
  z-index: 1;
  margin: 0;
  margin-top: 15px;
  margin-left: 15px;
  align-items: center;
  
}

#header-layer-panel {
  top: 0;
  width: 100%;
  height: 40px;
  z-index: 1;
  margin: 0;
  align-items: center;
  display: flex;
  gap: 5px;

}

#btn-layer-panel {
  width: 40px;
  height: 100%;
  background-color: rgb(255, 255, 255);
}

#btn-close-layer-panel {
  width: 30px;
  height: 30px;
  right: 0;
  background-color: rgb(255, 255, 255);
}

#title-layer-panel {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  margin: 0;
}

#content-layer-panel {
  height: 100%;
  z-index: 1;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
}

#list-layer-panel {
  width: 100%;
  display: flex;
  gap: 20px;

}

#control-couches {
  align-items:flex-start;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
}

#contries-deals {
  padding-bottom: 5px;
  margin-bottom: 2px; 
  border-bottom: 2px solid #111111; 
}

#list-categorie-panel {
  margin: 0;
}

#list-legend-panel {
  position: absolute;
  bottom: 0;
  left: 5px;
  right: 5px;
}


/* ============================================================== */
/* =============== Style de l'onglet information ' ============== */
/* ============================================================== */

#info-panel {
  top: 2vh;
  right: 2px;
  height: 100%;
  max-width: 35vh;
  z-index: 1;
  margin: 0;
  display: flex;
}

#switch-info-panel {
  height: 100%;
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#info-panel-overlay {
  right: 0;
  display: flex;
  flex-direction: column;
  flex: 1; 
  overflow: hidden; 
}

#head-info {
  height: 20%;
  padding: 5px;
}

#switch-info {
  height: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.button-info {
  height: 100%;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: rgb(255, 255, 255);
  transition: background 0.3s, color 0.3s;
  cursor: pointer;
}

.button-info:hover {
  background: rgba(68, 120, 124, 0.123);
}

.button-info:hover,
.button-info.active {
  background-color: rgba(68, 120, 124, 0.123); 
}

#contenue-info {
  flex: 1; 
  overflow-y: auto; 
  height: 100%;
}


.view-info {
  height: 100%; /* Remplit la div parente */
  overflow: auto; /* Ajoute un défilement si nécessaire */
}

.reduit {
  display: none;/* Exemple de hauteur réduite */
  overflow: hidden; /* Masquer le contenu qui dépasse */
}