/* ici on commences par impoter les styles d'Openlayer */
@import "node_modules/ol/ol.css";


/* ==================================================== */
/* =================== Style de la page =============== */
/* ==================================================== */
html, body {
  margin: 0;
  height: 100%;
  background-color: rgba(66, 66, 66, 0.192);
  overflow: hidden;

}

body{
  justify-content: center;
  align-items: center;
}

#container {
  position: absolute;
  width: 100%;
  height: 100vh;

}

#map {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}

.theme-color {
  background-color: rgb(68, 120, 124);
  color: #fff;
}


#logo {
  height: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

.theme-color2 {
  /* background-color: rgba(68, 120, 124, 0.123); */
  background-color: rgb(245, 245, 245);
}

.text-color {
  color: #fff;
}

.theme-layer {
  border-radius: 1px;
  padding: 5px;
}

.border-radius {
  border-radius: 5px;
}

.h2 {
  margin: 0;
}
h4 {
  margin: 0;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}


button {
  cursor: pointer;
  box-shadow: none;
  background: none;
  border: none; 
  padding: 0; 
  margin: 0; 
  font: inherit; 
  color: inherit; 
}


#overlay{
  position: absolute;
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
}

/* ==================================================== */
/* ========= Style de la l'entet de la page =========== */
/* ==================================================== */

#head-app {
  top: 0;
  height: 6vh;
  width: 100%;
  z-index: 1;
  margin: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 10px;
}

/* #title-app {
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
} */

#logo-app {

  width: 30px;
  height: 30px;
}

#logo-app img {
  width: 100%;
  height: 100%;
}

.navbar .container-fluid {
  justify-content: flex-start !important; 
}

/* ==================================================== */
/* ====== Style liste des point les plus proches ======= */
/* ==================================================== */


.table-scroll tbody {
  display: block;
  max-height: 150px; /* Ajustez cette valeur selon vos besoins */
  overflow-y: auto;
}
.table-scroll thead, .table-scroll tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

/* ==================================================== */
/* ========= Style de la l'entet de la page =========== */
/* ==================================================== */


#sidebar {
  transition: transform 0.3s ease-in-out;
}

#btn-layer-panel {
  font-size: 1.5rem;
  background-color: white;
  padding-left: 13px;
  padding-right: 13px;
  margin-right: 5px;
}
#searchButton {
  background-color: white;
  padding-left: 12px;
  padding-right: 12px;
}

#searchButton img {
  height: 20px;
}

.vh-100 {
  height: 100vh;
}

.custom-size {
  width: 40px;
  padding: 0; /* Ajustez le padding si nécessaire */
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  background-color: #fff;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.custom-size:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* ==================================================== */
/* ============== Style de l'onglet info ============== */
/* ==================================================== */

.offcanvas-body {
  padding: 0;
}


#info-content {
  overflow-x: hidden;
}


#entete-info {
  height: 20%;
}

#list-pj {
  padding: 0;
  margin: 0;
  background-color: rgba(216, 216, 216, 0.288);
  overflow-y: scroll;
}

.custom-padding {
  padding-right: 10px !important;
}
/* ==================================================== */
/* ============== Style de l'onglet légende ============== */
/* ==================================================== */


#legende {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 200px;
  background: white;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.legend-container {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.square {
  position: relative;
  width: 40px;
  height: 25px;
  border: 1px solid rgb(255, 255, 255); 
  display: flex;
  justify-content: center;
  align-items: center;
}

.square .label {
  font-size: 12px;
  color: black;
  position: static;
  margin-left: 100px;
  white-space: nowrap;
}
