/* ici on commences par impoter les styles d'Openlayer */
@import "node_modules/ol/ol.css";


/* ==================================================== */
/* =================== Style de la page =============== */
/* ==================================================== */
html, body {
  margin: 0;
  height: 100%;
  background-color: rgba(66, 66, 66, 0.192);
  overflow: hidden;

}

body{
  justify-content: center;
  align-items: center;
}

#container {
  position: absolute;
  width: 100%;
  height: 100%;

}

#map {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}

.theme-color {
  background-color: rgb(68, 120, 124);
  color: #fff;
}


#logo {
  height: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

.theme-color2 {
  /* background-color: rgba(68, 120, 124, 0.123); */
  background-color: rgb(245, 245, 245);
}

.text-color {
  color: #fff;
}

.theme-layer {
  border-radius: 1px;
  padding: 5px;
}

.border-radius {
  border-radius: 5px;
}

.h2 {
  margin: 0;
}
h4 {
  margin: 0;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Ajoutez ce CSS à votre fichier de styles */
.form-check:hover {
  background-color: #f0f0f0; 
  cursor: pointer; 
}

.separation-1 {
  border-top: 2px solid #000;
  margin-top: 5px;
  padding-top: 5px; 
}



button {
  cursor: pointer;
  box-shadow: none;
  background: none;
  border: none; 
  padding: 0; 
  margin: 0; 
  font: inherit; 
  color: inherit; 
}


#overlay{
  position: absolute;
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
}

/* ==================================================== */
/* ========= Style de la l'entête de la page =========== */
/* ==================================================== */

#head-app {
  top: 0;
  height: 6vh;
  width: 100%;
  z-index: 1;
  margin: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 10px;
}

/* #title-app {
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
} */

#logo-app {

  width: 30px;
  height: 30px;
}

#logo-app img {
  width: 100%;
  height: 100%;
}

.navbar .container-fluid {
  justify-content: flex-start !important; 
}

/* ==================================================== */
/* ====== Style liste des point les plus proches ======= */
/* ==================================================== */


.table-scroll tbody {
  display: block;
  max-height: 150px; /* Ajustez cette valeur selon vos besoins */
  overflow-y: auto;
}
.table-scroll thead, .table-scroll tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

/* ==================================================== */
/* ========= Style de la l'entête de la page =========== */
/* ==================================================== */


#sidebar {
  transition: transform 0.3s ease-in-out;
}

#btn-layer-panel {
  font-size: 1.5rem;
  background-color: white;
  padding-left: 13px;
  padding-right: 13px;
  margin-right: 5px;
}
#searchButton {
  background-color: white;
  padding-left: 12px;
  padding-right: 12px;
}

#searchButton img {
  height: 20px;
}

.vh-100 {
  height: 100vh;
}

.custom-size {
  width: 40px;
  padding: 0; /* Ajustez le padding si nécessaire */
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  background-color: #fff;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.custom-size:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/*=============personaliser l'onglet de suggestion de la bar de recherche ==========*/
/* Style de la liste des suggestions */
#suggestions {
  position: absolute;
  top: 100%; /* Ajustez cette valeur selon la position de votre champ de recherche */
  left: 0%; /* Ajustez cette valeur selon la position de votre champ de recherche */
  width: 100%; /* Largeur de la liste des suggestions */
  max-height: 200px; /* Hauteur maximale de la liste des suggestions */
  overflow-y: auto; /* Ajouter une barre de défilement si nécessaire */
  background-color: white; /* Couleur de fond */
  border: 1px solid #ccc; /* Bordure */
  border-radius: 4px; /* Coins arrondis */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Ombre pour un effet de profondeur */
  z-index: 1000; /* Assurez-vous que la liste est au-dessus des autres éléments */
  display: none; /* Masqué par défaut */
}

/* Style des éléments de la liste */
#suggestions li {
  list-style-type: none;
  padding: 5px;
  cursor: pointer;
  width: 100%; /* Assurez-vous que les éléments prennent toute la largeur */
  box-sizing: border-box; /* Inclure le padding et la bordure dans la largeur totale */
}

/* Effet de survol sur les éléments de la liste */
#suggestions li:hover {
  background-color: #f0f0f0;
}


/* ==================================================== */
/* ============== Style de l'onglet info ============== */
/* ==================================================== */

.offcanvas-body {
  padding: 0;
}


#info-content {
  /* overflow-x: hidden; */
  height: fit-content;
}


#entete-info {
  height: 20%;
}

#list-pj {
  padding: 0;
  margin: 0;
  background-color: rgba(216, 216, 216, 0.288);
  /* overflow-y: scroll; */
}

.custom-padding {
  padding-right: 10px !important;
}

/* Style pour la section d'informations dynamiques */
#dynamic-info {
  margin-top: 10px;
  width: 100%;
  padding: 1px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#dynamic-info p {
  font-size: 1.1em;
  color: #333;
  margin-bottom: 10px;
}

#dynamic-info ul {
  list-style-type: none;
  padding: 0;
}

#dynamic-info li {
  font-size: 1em;
  color: #555;
  margin-bottom: 5px;
}

#dynamic-info li:before {
  content: "• ";
  color: #007bff;
  font-weight: bold;
}
/* ==================================================== */
/* ============== Style de l'onglet légende ============== */
/* ==================================================== */


#legende {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 200px;
  background: white;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.legend-container {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.square {
  position: relative;
  width: 40px;
  height: 25px;
  border: 1px solid rgb(255, 255, 255); 
  display: flex;
  justify-content: center;
  align-items: center;
}

.square .label {
  font-size: 12px;
  color: black;
  position: static;
  margin-left: 100px;
  white-space: nowrap;
}