/* ici on commences par impoter les styles d'Openlayer */
@import "node_modules/ol/ol.css";


/* ==================================================== */
/* =================== Style de la page =============== */
/* ==================================================== */
html, body {
  margin: 0;
  height: 100%;
  background-color: rgba(66, 66, 66, 0.192);
  overflow: hidden;

}

body{
  justify-content: center;
  align-items: center;
}

#container {
  position: absolute;
  width: 100%;
  height: 100vh;

}

#map {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}

.theme-color {
  background-color: rgb(68, 120, 124);
  color: #fff;
}

.z1 {
  z-index: 2;
}

#logo {
  height: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

.theme-color2 {
  /* background-color: rgba(68, 120, 124, 0.123); */
  background-color: rgb(245, 245, 245);
}

.text-color {
  color: #fff;
}

.theme-layer {
  border-radius: 1px;
  padding: 5px;
}

.border-radius {
  border-radius: 5px;
}

.h2 {
  margin: 0;
}
h4 {
  margin: 0;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}


button {
  cursor: pointer;
  box-shadow: none;
  background: none;
  border: none; 
  padding: 0; 
  margin: 0; 
  font: inherit; 
  color: inherit; 
}


#overlay{
  position: absolute;
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
}

/* ==================================================== */
/* ========= Style de la l'entet de la page =========== */
/* ==================================================== */

#head-app {
  top: 0;
  height: 6vh;
  width: 100%;
  z-index: 1;
  margin: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 10px;
}

/* #title-app {
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
} */

#logo-app {

  width: 30px;
  height: 30px;
}

#logo-app img {
  width: 100%;
  height: 100%;
}



/* ==================================================== */
/* ========= Style de la l'entet de la page =========== */
/* ==================================================== */

#switch-map {
  position: relative;
  width: 28vh;
  z-index: 1;
  margin: 0;
  align-items: center;
  display: flex;
  border-bottom-right-radius: 50px;
  overflow: hidden;

}

#switch-map > div {
  flex: 1;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  height: 4vh;
}

#switch-map > div:hover {
  background-color: rgba(68, 120, 124, 0.1); 
  transition: background-color 0.3s; 
}

#switch-map > div > button {
  width: 100%;
  height: 100%;
}

#sidebar {
  transition: transform 0.3s ease-in-out;
}

#btn-layer-panel {
  font-size: 1.5rem;
  background-color: white;
  padding-left: 13px;
  padding-right: 13px;
  margin-right: 5px;
}
#searchButton {
  background-color: white;
  padding-left: 12px;
  padding-right: 12px;
}

#searchButton img {
  height: 20px;
}

.vh-100 {
  height: 100vh;
}

#info-content {
  height: 20%;
}

#list-pj {
  padding: 0;
  margin: 0;
  background-color: rgb(216, 216, 216);
  overflow-y: scroll;
}

/* ==================================================== */
/* ============== Style de l'onglet info ============== */
/* ==================================================== */

.offcanvas-body {
  padding: 0;
}
